.container {
  display: flex;
  width: 80%; /* Adjusted max-width for the whole container */
  margin: 0 auto; /* Center the container horizontally */
  padding: 21px;
  height: 700px; /* Adjust max height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  margin-top: 30px;
  flex-wrap: wrap;
  margin-left: 50px;
  gap: 40px;
}

/* this hides the index page scrollbar for Chrome and/or Safari */
.container::-webkit-scrollbar {
  display: none;
}

.container {
  -ms-overflow-style: none;  /* this hides it for IE and Edge */
  scrollbar-width: none;     /* this hides it for in Firefox */
}

h2 {
  text-align: center;
}

h2 {
  text-align: center;
}
