.container {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  max-width: 400px; /* Adjust max width as needed */
  margin: 8px;
  flex-direction: column;
  max-height: 30vh;
}

.container header {
  display: flex;
  align-items: center;
  height: 70px;
}

.container header img {
  max-width: 80px; /* Adjust width as needed */
  max-height: 80px; /* Ensure aspect ratio is maintained */
  margin-right: 10px;
}

.container h2 {
  margin-top: 40px;
}

.container p {
  margin: 0;
  margin-right: 10px; /* Add margin between details */
  display: inline-block; /* Ensure details are on the same line */
}

.container > button {
  background-color: #005dc1; ;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 4px 10px;
  cursor: pointer;
  margin-left: 200px;
  margin-top: 5px;
  align-items: end;
}

button:hover {
  background-color: #0031a5;
}
