.cart {
  display: flex;
  flex-direction: column;
  height: 610px; /* Adjust max height as needed */
  padding: 20px;
  background: rgb(222, 222, 222);
  margin-top: 50px;
  margin-right: 50px;
  width: 40vh;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 610px; /* Adjust max height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 20px;
  background: rgb(0, 37, 105);
  margin-top: 50px;
  margin-right: 0 auto;
  width: 100%;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.container h4 {
  margin-top: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.device {
  width: 100%; /* Make each item take full width */
  padding: 10px;
  margin-bottom: 10px; /* Add margin between items */
}