.container {
  padding: 0;
  display: flex;
  border: none;
  max-width: 100%;
  box-shadow: none;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.container h3 {
  margin: 0;
  color: black;
}

.container input, .container textarea { 
  width: 100%;
  padding: 14px;
  font-size: 14px;
  border-radius: 5px;
  margin: 14px 0px 14px 0px;
  border: 1px solid gray;
}

.container textarea {
  min-height: 50px;
}

.container button {
  margin: 0;
  color: white;
  font-weight: 600;
  background: #05a9ea;
}

.container button[type="submit"] {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.container button[type="submit"]:hover {
  cursor: pointer;
}