.container{
  display: flex;
  align-items: start;
  padding: 12px;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  background-color: #d8d8d8;
  max-width: 450px; /* Adjust max width as needed */
  margin: 8px;
}
.container header{
  font-size: 2px;
}

.offerbtns {
  font-size: small;
  float: right;
}

.container img{
  width: 20px;
  height: 20px;
}

.container span{
  font-size: 14px;
  color: rgb(119, 119, 124);
}