.container{
  display: flex;
  align-items: start;
  padding: 12px;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  background-color: #d8d8d8;
  max-width: 450px; /* Adjust max width as needed */
  margin: 8px;
  /* flex-direction: row; */
  /* max-height: 96px; */
  /* max-width: 400px; */
}
.container header{
  font-size: 2px;
}

.offerbtns {
  font-size: small;
  float: right;
  /* display: flex; */
  /* width: 10px; */
  /* height: 10px; */
}

.container img{
  width: 20px;
  height: 20px;
}

.container span{
  /* display: flex; */
  font-size: 14px;
  color: rgb(119, 119, 124);
}