.container {
  height: 100%;
  display: flex;
  overflow: scroll;
  align-items: center;
  flex-direction: column;
  background-color: var(--card-background);
}

.container article, .container > section {
  width: 100%;
  padding: 21px;
  display: flex;
  max-width: 700px;
  flex-direction: column;
}