.container {
  display: flex;
  /* align-items: center; */
  /* justify-content: flex-start; */
  /* flex-direction: row; */
}

/* .container * {
  margin: 0;
} */
.container h4{
  font-size: 17px;
}

.container > img {
  display: flex;
  width: 42px;
  height: 42px;
  object-fit: cover;
  margin-right: 12px;
  border-radius: 50%;
  background-color: rgb(102, 216, 238);
}