.container {
  width: 300px;
  height: 250px;
  flex-wrap: wrap;
  padding: 14px 21px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  margin: 15px;
  margin-bottom: 8px;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.container > img {
  width: 120px;
  height: 130px;
  margin-right: 10px;
}

h1 {
  margin: 0;
}

p {
  margin: 5px 0;
}

.container > button {
  background-color: #005dc1; 
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 5px 10px;
}

.container > button:hover {
  background-color: #0031a5; 
}